.Room {
    padding-top: 3vh;
    width: 90vw;
    margin-right: auto;
}

.MyVid {
    transform: scaleX(-1);
    width: 50vh;
    height: 50vw;
    border-radius: 5px;
}

.audiobtn {
    border-radius: 50px;
    
}

.videobtn {
    border-radius: 50px;

}

.hangup {
    border-radius: 50px;
}